# Read Write data from database (read_sql, to_sql)

In [1]:
import pandas as pd
import sqlalchemy as sql

In [2]:
# pip install pymysql

In [3]:
engine = sql.create_engine('mysql+pymysql://root:@localhost:3306/application')

In [4]:
# df = pd.read_sql_table('customers', engine)
# df

In [6]:
# query = '''
#  SELECT customers.name, customers.phone_number, orders.name, orders.amount
#  FROM customers INNER JOIN orders
#  ON customers.id=orders.customer_id
# '''
# df=pd.read_sql(query,engine)
# df